@page 
@model BookLibrary.App.Pages.Borrowers.ListModel
@{
    ViewData["Title"] = "Borrowers List";
}

<h2 class="text-center m-2">List of borrowers:</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Loan count</th>
        </tr>
    </thead>
    <tbody>
        @{
            int num = 0;
            foreach (var borrower in Model.Borrowers)
            {
                num += 1;
                <tr>
                    <th scope="row">@num</th>
                    <td><a asp-page="/Borrowers/Details" asp-route-id="@borrower.Id">@borrower.Name</a></td>
                    <td>@borrower.Address</td>
                    <td>@borrower.CountOfLoans</td>
                </tr>
            }
        }
    </tbody>
</table>

