@page
@model BookLibrary.App.Pages.Books.ListModel
@{
    ViewData["Title"] = "Book List";
}

<h2>List of all books</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @{
            int num = 0;
            foreach (var book in Model.Books)
            {
                num += 1;
                <tr>
                    <th scope="row">@num</th>
                    <td><a asp-page="/Books/Details" asp-route-id="@book.Id">@book.Title</a></td>
                    <td><a asp-page="/Authors/Details" asp-route-id="@book.AuthorId">@book.Author</a></td>
                    <td>@book.Status</td>
                </tr>
            }
        }
    </tbody>
</table>